{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Confirmation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>入力内容確認</h1>
    
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <!-- ユーザー名表示 -->
    <p>ユーザー名: {{ username }}</p>

    <!-- Email表示 -->
    <p>Email: {{ email }}</p>

    <!-- パスワードは表示されない -->
    <p>パスワード: ********</p>

    <!-- トークンの確認 -->
    <p>Token: {{ token }}</p>

    <!-- 登録ボタン -->
    <form method="post" action="{% url 'flick_seeker:signup_complete' token=token %}">
        {% csrf_token %}
        <button type="submit" class="button signup-button">登録</button>
    </form>

    <!-- 戻るボタン -->
    <a href="{% url 'flick_seeker:signup' %}" class="button back-button">戻る</a>
</body>
</html>
